<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxhry1MLUUlRfyNYlRufHHKTEbbp2rvWY</string>
	<key>GCM_SENDER_ID</key>
	<string>667930059289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khatiwadaBangsawaliUpdated</string>
	<key>PROJECT_ID</key>
	<string>khatiwada-bangsawali</string>
	<key>STORAGE_BUCKET</key>
	<string>khatiwada-bangsawali.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667930059289:ios:cb827a7c56d173e46e8088</string>
</dict>
</plist>